@import 'partials/_mixins';
@import 'partials/_variables';


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Avenir, Helvetica, Arial, sans-serif;
}

.container {
   position: relative;
   width: $width_container;
   margin: 0 auto;
}

main {
   background-color: #1c1c1c;
   padding: 2rem 0rem;
   color: #fff;

   .comic-title {
      margin-top: -2.75rem;
   
      h3 {
         background-color: $brand_primary;
         font-size: $link_size;
         text-transform: $font-uppercase;
         display: inline-block;
         padding: .5rem 1rem;
      }
   }
   
   #comics-list {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;

      .card {
         width: calc((100% / 6) - 0.2rem);
         margin: .1rem;
   
         .comic-front {
            width: 150px;
            height: 150px;
   
            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               object-position: top;
            }
         }
   
         .comic-caption {
            padding: 0.75rem 0;
   
            h4 {
               text-transform: uppercase;
               font-weight: 100;
               font-size: $link_size;
            }
         }
      }
   }
   
   .content-options {
      text-align: center;
   
      button {
         background-color: $brand_primary;
         color: $font_secondary;
         text-transform: $font_uppercase;
         border: none;
         padding: .5rem 2rem;
      }
   }
}